<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card header">
                <h3>Ingresar Paciente</h3>
            </div>
            <div class="card-body">
                <form id="pacienteForm">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <select class="custom-select-prepend" id="inputGroupSelect01" name="opcion">
                                <option value="1">DNI</option>
                                <option value="2">Nombre</option>
                                <option value="3">Protocolo</option>
                            </select>
                            <input type="text" id="datoPaciente" name="dato" class="form-control" autofocus>
                            <div class="input-group-append">
                                <button class="btn btn-outline btn-primary" type="submit" >Buscar</button>
                            </div>                            
                        </div> 
                    </div>
                </form>
                <div class="p-4 table-responsive" >
                        <table class="table table-striped table-hover table-bordered table-sm bg-white table-responsive"> 
                            <thead>
                            <tr>
                                <td><div class="sizeFecha">Fecha </div></td>
                                <td>Protocolo</td>
                                <td>DNI</td>
                                <td>Nombre</td>
                                <td>Acciones</td>
                            </tr>
                            </thead>
                            <tbody ></tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8" id="protocolo1"></div>


</div>


