<div class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi culpa laborum soluta maxime repellendus. Quibusdam dolores ratione excepturi pariatur molestiae dicta ut quod corporis. Aliquam dolor at illo vitae facilis sit consequatur, pariatur neque sint commodi repellat doloribus! Cum, ipsa.</p>
    </div>
</div>