<div class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Página creada por Ing. Walter A. Casarino para la consulta de resultados de estudios de Laboratorios realizados en el CAPS Dr. Alfonso Barassi desde Junio del 2017.</p>
    </div>
</div>