<div class="jumbotron mt-4">
    <h1 class="display-4">Consulta de Estudios de Laboratorio</h1>
    <p class="lead">CAPS Dr. Alfonso Barassi</p>
    <hr class="my-4">
    <p>Bienvenido</p>
    <a href="/paciente/seek" class="btn btn-primary btn-lg" >Buscar Estudio</a>
</div>