<div class="jumbotron mt-4">
    <h1 class="display-4">Consulta de Estudios de Laboratorio</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum deserunt ducimus ipsum facere ea. Ipsa ea ipsam quis exercitationem nesciunt alias veritatis debitis aliquam voluptates. Non maiores laboriosam optio quod.</p>
    <a href="http://facebook.com" class="btn btn-primary btn-lg" >Facebook</a>
</div>